sudo: false
language: python
services:
    - mongodb

matrix:
  fast_finish: true
  allow_failures:
    - python: 3.7-dev
  include:
    - env: TOXENV=flake8
      python: 3.6
    - env: TOXENV=pylint
      python: 3.6
    - env: TOXENV=doc8
      python: 3.6
    - env: TOXENV=packaging
      python: 3.6
    - env: TOXENV=docs
      python: 3.6
    - env: TOXENV=py27
      python: 2.7
    - env: TOXENV=py34
      python: 3.4
    - env: TOXENV=py35
      python: 3.5
    - env: TOXENV=py36
      python: 3.6
    - env: TOXENV=py37
      python: 3.7-dev

install:
  - pip install tox
before_script:
  - sleep 15
  - mongo metaopt --eval 'db.createUser({user:"user",pwd:"pass",roles:["readWrite"]});'
script:
  - tox
after_success:
  - tox -e final-coverage
  - tox -e codecov

# deploy:
#   skip_cleanup: true
#   provider: pypi
#   user: "..."
#   password:
#     secure: "..."
#   on:
#     branch: master
#   distributions: "sdist bdist_wheel"
