sudo: false
language: python

jobs:
  include:
      - stage: pretest
        env: TOXENV=flake8
        python: 3.6
      - env: TOXENV=pylint
        python: 3.6
      - env: TOXENV=doc8
        python: 3.6
      - env: TOXENV=docs
        python: 3.6
      - &test
        stage: test
        services: mongodb
        before_script:
          - sleep 15
          - mongo orion_test --eval 'db.createUser({user:"user",pwd:"pass",roles:["readWrite"]});'
        after_success:
          - tox -e final-coverage
          - tox -e codecov
        env: TOXENV=py36
        python: 3.6
      - <<: *test
        env: TOXENV=py36, PYTHON=3.6.3
        python: 3.6
        os: osx
        language: generic
      - <<: *test
        env: TOXENV=py37
        python: 3.7
        dist: bionic
        sudo: true
      - <<: *test
        env: TOXENV=py38
        python: 3.8
        dist: bionic
        sudo: true
      - <<: *test
        env: TOXENV=demo-random
        python: 3.6
      - <<: *test
        env: TOXENV=backward-compatibility, ORION_DB_TYPE=mongodb
        python: 3.6
      - <<: *test
        env: TOXENV=backward-compatibility, ORION_DB_TYPE=pickleddb
        python: 3.6
      - stage: packaging
        env: TOXENV=packaging
        python: 3.6
      - env: TOXENV=none
        python: 3.6
        install: skip
        script: ./conda/conda_build.sh

before_install: |
  if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
    brew update
    brew install readline
    brew outdated pyenv || brew upgrade pyenv
    brew install pyenv-virtualenv
    pyenv install $PYTHON
    export PYENV_VERSION=$PYTHON
    export PATH="/Users/travis/.pyenv/shims:${PATH}"
    pyenv virtualenv venv
    pyenv activate venv
    python --version
    brew tap mongodb/brew
    brew install mongodb-community
    brew services start mongodb-community
  fi

install:
  - pip install tox
script:
  - tox

# deploy:
#   skip_cleanup: true
#   provider: pypi
#   user: "..."
#   password:
#     secure: "..."
#   on:
#     branch: master
#   distributions: "sdist bdist_wheel"
