# General info
include LICENSE
include *.rst

# Control and setup helpers
include src/metaopt/_version.py
include versioneer.py

# Exclude development helpers
exclude .coveragerc
exclude .travis.yml
exclude tox.ini
exclude *-requirements.txt
exclude .appveyor.yml

# Include src, tests, docs
recursive-include docs *.rst *.py
include docs/requirements.txt
prune docs/build
recursive-include src *.py
recursive-include tests *.py
