# General info
include LICENSE
include *.rst
include ROADMAP.md
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include CITATION.bib
exclude RESEARCH.md

# Control and setup helpers
include src/orion/core/_version.py
include versioneer.py

# Exclude development helpers
exclude tox.ini
exclude *-requirements.txt
exclude .pylintrc
exclude codecov.yml
exclude .mailmap
exclude .readthedocs.yml
prune conda/
prune .github/

# Include src, tests, docs
recursive-include docs *.rst *.py *.gitkeep *.png *.html *.txt *.gif
recursive-include examples *.rst
prune docs/build
prune docs/src/reference
recursive-include src *.py
recursive-include tests *.py *.yaml *.json *.txt *.yml *.in LICENSE
recursive-include dashboard/build *
include tests/requirements.txt
include .pre-commit-config.yaml
include CITATION.bib

# Include examples
recursive-include examples *.md *.py *.pkl *.yaml *.ipynb */requirements.txt

# Exclude dashboard source code
prune dashboard/src
