.span-link {
  cursor: pointer;
}
.experiments-wrapper {
  flex-grow: 1;
  overflow: auto;
}
.experiments-list {
  table-layout: fixed;
}
.experiment-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
}
.bx--side-nav.experiment-navbar,
.bx--side-nav.benchmark-navbar {
  z-index: 7000;
}
a.bx--header__menu-item.bx--header__menu-title[aria-label='experiments (selected)'],
a.bx--header__menu-item.bx--header__menu-title[aria-label='benchmarks (selected)'] {
  font-weight: bold;
}
.bx--grid.object-to-grid {
  padding-right: 1rem;
  padding-left: 1rem;
}
.bx--grid.object-to-grid .bx--col.object-to-grid-key {
  padding-right: 0.5rem;
}

.bx--structured-list-row.selected-experiment-row {
  background-color: lightgray;
}
.bx--structured-list-row.selected-experiment-row .bx--structured-list-td {
  font-weight: bold;
}
.bx--data-table th.placeholder {
  background-color: #f4f4f4;
}
.bx--grid.database-page .bx--col {
  display: flex;
  align-items: flex-end;
}
.bx--grid.database-page .experiment-word {
  display: inline-block;
}
.bx--grid.database-page .header-dnd {
  cursor: grab;
}
.bx--grid.database-page th.no-placeholder.header-unsortable {
  cursor: default;
}
.bx--grid.database-page th.no-placeholder.header-unsortable button {
  cursor: default;
}
.bx--grid.database-page th.no-placeholder.header-unsortable:hover button.bx--table-sort {
  background-color: inherit;
}
.bx--grid.database-page th.is-over button.bx--table-sort {
  font-style: italic;
  font-weight: normal;
}
.bx--table-sort.bx--table-sort--active .header-dnd .bx--table-sort__icon-unsorted {
  display: block;
}
.trial-row {
  cursor: pointer;
}
.modal-trial-key {
  text-align: right;
}
.progress-bar.bg-running {
  background-color: lightgray;
  color: darkslategrey;
}
